<%- include('./partials/head') %>

<section class="maincontainer">
  <section class="card">
    <div class="front">
      Hello world!
    </div>
    <div class="back">

    </div>
  </section>
</section>

<%- include('./partials/foot') %>
